version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

    expose:
      - "8000"

    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "

    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media


  postgres:
    image: postgres:16
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data


  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always


volumes:
  postgres_data:
  static_volume:
  media_volume: